doctype html
html
  include ./includes/head.jade
  body
    main.main-wrapper
      h1 The Weather
      div
        code#output
          | This is where we should get output
          //Example of piping with the `|`


    script(src="js/geolocate.js")